<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>CodingDaVinciFrontEnd</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<style>body{width:100%;margin:0;background-color:#2f2f2f;color:#fff;min-height:100vh;overflow:hidden;display:flex;flex-direction:column;flex:1}*{box-sizing:border-box;font-family:Lucida Sans,Lucida Sans Regular,Lucida Grande,Lucida Sans Unicode,Geneva,Verdana,sans-serif}</style><link rel="stylesheet" href="styles.dd3f743f6f09a224.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.dd3f743f6f09a224.css"></noscript></head>
<body>
  <app-root></app-root>
<script src="runtime.5ac660d2b2651ac3.js" type="text/javascript"></script><script src="polyfills.6416a87be08bd4c4.js" type="text/javascript"></script><script src="main.ce862b9a54234d4f.js" type="text/javascript"></script>

</body></html>